div{
  background-color: #0a2a43;
  margin:50px 0 20px;
  text-align: center;
}
.mini{
  width:50%;
}
h2{
  color: #fff;
}
.minis{
  width:40%;
}
html{
  background-color: #0a2a43;
}
body{
  text-align: center;
}
h1
{
  color:#fff;
}
p{
  color:#fff;
}
